body {
    font-family: 'Open Sans';
    font-size: 2em;
    background: #00ABD8;
    color: #D3DCF2;
}

body.night {
    background: #242e39;
    color: #7690CF;

}

#main {
    text-align: center;
    display: grid;
    height: 100%;
}


#app {
    align-self: center;
    justify-self: center;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 250px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    padding: 0 20px;
}

.awesome {
    background: #e3403a;
    border: 1px solid #da251f;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.awesome:hover {
    background: #e02c26;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}